<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cn" lang="cn">
<head>
<title>Insert title here</title>

<!--Character Encoding-->
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

<!--CSS-->
<link rel="stylesheet" type="text/css" href="css/global.css" />
<link rel="stylesheet" type="text/css" href="css/fragment.css" />

<!--Lightbox CSS - Remove if not needed-->
<link rel="stylesheet" type="text/css" href="css/lightbox.css" media="screen" />

<script type="text/javascript" src="js/jquery-latest.js"></script>
<script type="text/javascript">
$(function(){
	$("h5").attr("title","click to add").css("cursor","pointer").bind("click",function(event){
		$("<div style='width:100px;height:50px;'><textarea>在此输入 内容</textarea></div>")
		.width(event.width()).top(0).appendTo('body');
	});
});
</script>
	
</head>
<body>
<div id="mainContainer">
<div id="mainContent">
	<div id="leftContent">
		<div id="goalnav">
		<h5>Goals</h5>
		<ol>
			<li>学习英语</li>
			<li>学习jquery</li>
		</ol>
		</div>
		<div id="mattersnav">
		<h5>Matters</h5>
		<ol>
			<li>学习英语</li>
			<li>学习jquery</li>
		</ol>
		</div>		
	</div>
	<div id="rightContent">
		<div id="timetable">
		<h5>Timetable</h5>
		2011-03-04,周一<br/>
		18:00-19:00 溜狗
		</div>
		<div id="schedule">
		<h5>Schedule</h5>
		今天
		<ol><li>国庆节 </li></ol>
		本周
		<ol>
		<li>某某生日</li>
		<li>小丁从海南回来 </li>
		</ol>
		</div>
		
		<div id="bracket">
		<h5>Bracket</h5>
		<ol><li>王老师的页面 </li></ol>
		</div>
	</div>
</div>
<div id="footer">
<div id="footerinfo">欢迎你：$nickname</div>
<div id="footerutil"><a href="">日记本</a><a href="">密码箱</a><a href="">联系人</a></div>
</div>
</div>
</body>
</html>